@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body,
html {
  background-color: darkgray;
}

header {
  background-color: lightslategray;
}

header > h1 {
  padding: 10px;
  text-align: center;
}

#burguer {
  background-color: rgba(34, 45, 54, 0.616);
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#burguer:hover {
  background-color: rgb(184, 184, 184);
  color: black;
}

menu {
  display: none;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(47, 79, 79, 0.425);
  color: white;
  border-top: 1px solid rgba(51, 51, 51, 0.527);
}

menu > ul > li > a:hover {
  background-color: darkgrey;
}

main {
  width: 90vw;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

article > h2 {
  padding-bottom: 20px;
}

article > p {
  text-align: justify;
  margin-bottom: 20px;
  text-indent: 20px;
}
